/*
  스타일에 사용한 컬러 코드
  https://colorhunt.co/palette/6e85b7b2c8dfc4d7e0f8f9d7
  #6E85B7
  #B2C8DF
  #C4D7E0
  #F8F9D7
*/

body {
  padding: 1rem;
  font-family: HakgyoansimBunpilR;
  transition: 1s;
  background-color: #6E85B7;
}

#mainTitle {
  text-shadow:
    /* 안쪽 그림자 */
    1px 0 #B2C8DF, -1px 0 #B2C8DF, 0 1px #B2C8DF, 0 -1px #B2C8DF, 
    1px 1px #B2C8DF, 1px -1px #B2C8DF, -1px 1px #B2C8DF, -1px -1px #B2C8DF,

    /* 바깥쪽 그림자 */
    2px 0 #F8F9D7, -2px 0 #F8F9D7, 0 2px #F8F9D7, 0 -2px #F8F9D7,
    2px 1px #F8F9D7, -2px 1px #F8F9D7, 1px 2px #F8F9D7, 1px -2px #F8F9D7,
    2px -1px #F8F9D7, -2px -1px #F8F9D7, -1px 2px #F8F9D7, -1px -2px #F8F9D7,
    2px 2px #F8F9D7, 2px -2px #F8F9D7, -2px 2px #F8F9D7, -2px -2px #F8F9D7;

  letter-spacing: 0.3rem;
}

.delete {
  animation-name: delete;
  animation-duration: 3s;
}

@keyframes delete {
  from {
    height: auto;
  } to {
    height: 0;
    color: transparent;
  }
}


.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}