@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HakgyoansimBunpilR";
  src: url("./font/HakgyoansimBunpilR.ttf");
}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, -50%);
  }
  30% {
    transform: translate(0, 130%);
  }
  40% {
    transform: translate(0, -130%);
  }
  60% {
    transform: translate(0, 130%);
  }
  90% {
    transform: translate(0, -30%);
  }
  100% {
    transform: translate(0, 0);
  }
}
